*{
	padding:0;
	margin:0;
}


#header{
	width:100%;
	height:50px;
	background-color:#ccc;
	font-size:40px;
}

#left{
	/*min-width: */
	min-width: 154px;
	position:relative;
	display:inline;
	float:left;
	width:14.8%;
	height:701px;
	background-color:rgb(242,242,242);
	border-right:1px solid gray;
}
#left .alltask{
	display:inline-block;
	font-size:20px;
	padding-top:30px;
	padding-left:15px;
}
#left .difflist{
	font-size:20px;
	margin-top:15px;
	margin-left:15px;
	display:block;
}
.list-common{
	display:inline-block;
	margin-left:8px;
	margin-top:15px;
}
.span-list1,.span-list2{
	margin-left:10px;
}
.delete{
	position:absolute;
	right:0;
	
	 padding-right:0 !important;
	
}
.licommon{
	display:block;
	padding-top:5px;
	padding-left:35px;
	
}
.left-bottom{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	border-top:1px solid gray;
	font-size: 20px;
}
.left-bottom span{
	display:inline-block;
	margin:10px  0  0 10px;
}




#middle{
	float:left;
	width:18%;
	height:700px;
	min-width: 183px;
	
}
#middle .middle-top{
	width:100%;
	height:50px;
	background-color:rgb(238,238,238);
}
#middle .date{
	height:30px;
	padding-left:25px;
	padding-top:10px;
	background-color:rgb(250,250,238);
}
#middle .bgcolor{
	background-color:rgb(242,242,242);
}
.task-list span{
	display:block;
	padding-left:40px;
	margin-bottom:4px;
	padding-top:8px;
}
#middle .middle-bottom{
	width:100%;
	height:50px;
	border-top:1px solid gray;
	background-color:rgb(238,238,238);
	/*margin-top:600px;*/
}
#middle .middle-top span{
	display:inline-block;
	margin:12px;

}
#middle .middle-top .choose{
	width:60px;
	height:20px;
	border:1px solid gray;
	background-color: white;
	line-height: 20px;
	text-align: center;
}
#middle .middle-middle{
	width:100%;
	height:600px;
	background-color:white;
}
.middle-bottom span{
	display:inline-block;
	margin:10px  0  0 10px;
	font-size:20px;
}

#right{
	
	min-width: 668px;
	float:left;
	width:67%;
	height:700px;
	/*background-color:yellow;*/
	border-left:1px solid gray;
}
#right .right-top{
	width:100%;
	height:60px;
	background-color:rgb(242,242,242);
	font-size:30px;
	line-height:60px;
	padding-left:15px;
}
#right .right-top .right-right{
	margin-left:650px;
}
#right .right-middle{
	height:45px;
	background-color:rgb(250,250,238);
	line-height: 45px;
	padding-left:20px;
}




/*弹窗css*/
/* .pop{
	width:250px;
	height:100px;
	background-color:#ccc;
	padding-top:40px;
	padding-left:80px;
} */
























@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    list-style:none;
    display:inline;
    padding-right:10px;
    padding-left:10px;
    }


